:root{
    --font-family: 'Roboto', sans-serif;
}

body {
    background-color: #121212;
    font-family: "Roboto Light", sans-serif;
    color: #f5fbff ;
}

.ring {
    animation: ring 0.5s steps(32) normal;
    transform-origin: 50% 25%;
}