<!DOCTYPE html>
<html id="weather.html" xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:replace="partials/head :: head('Forecast')">
    <link rel="stylesheet" th:href="@{/main.css}">
</head>

<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<h1>Forecast</h1>

<p>Today's weather: </p>

<!--Display weather api-->
<div id="display-map" class="d-flex justify-content-around mt-5"></div>
<br>

<!--Search-->
<nav class="navbar navbar-light bg-light">
<div>
    <form class="form-inline">
        <input id="type-in" class="form-control mr-sm-2 mx-3" type="search" placeholder="Enter another location"
               aria-label="Search">
        <button id="button" class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>

<!--Display map api-->
<div class="coordinates" id='mapbox-map' style='width: 60%; height: 70vh; margin: 5vh auto;'></div>
</div>


<script th:replace="partials/scripts :: scripts"></script>

</body>
</html>