<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
My address is: 35.173.69.207


Perform a DNS lookup of the site, retrieving the server's IP address by checking the assigned A record.
Access the site via an HTTP GET request and verify the status code (Example: 200 OK).
Send an email or SMS message to your cell phone if one of your sites is down.
Configure your script to be run every five minutes via a cron job.
Bonus: MySQL is up and running.

post: private static final String POST_URL = "file:///Users/anngonzales/IdeaProjects/ann-dev/src/main/resources/templates/webstatus.html";

</body>




</html>